<div fxLayout="column" fxFlexFill>
  <div class="header"></div>
  <mat-toolbar color="primary" class="fixed-navbar mat-elevation-z10">
    <mat-toolbar-row>
      <h1 class="title"><span class="color">Készletnyilvántartó</span></h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div>
        <a mat-button [routerLink]="'/'"> Főoldal <mat-icon>home</mat-icon></a>
        <a mat-button [routerLink]="'/edit/0'"> Új eszköz <mat-icon>create</mat-icon></a>

      </div>

      <span class="fill-space"></span>
      <!-- <div>
        <a mat-button> English </a>
        <a mat-button> Magyar </a>
      </div> -->
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container" fxFlex fxLayout="row" fxLayoutAlign="center none">
    <div class="content" fxFlex="80">
      <router-outlet></router-outlet>
    </div>
  </div>

  <mat-toolbar color="primary" class="fixed-navbar mat-elevation-z10" fxFlexOffset="auto">
    <mat-toolbar-row>
      <p class="footer"> © 2022 <a href="mailto:rbardo@gmail.com">Bardo</a></p>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
